@media only screen and (max-width: 768px) {
  .header_h1 {
    display: none;
  }

  .mobile_title {
    display: inline;
    font-weight: 400;
  }

  .mobile_title_container {
    text-align: left;
    margin-left: 2rem;
  }

  .header_title {
    padding: 0;
  }

  nav.primary-navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 4rem;
    border-bottom: 1px solid black;
    font-size: 4cqi;
  }

  nav.primary-navigation ul li {
    display: inline-block;
    padding: 0 10px;
    margin: 0;
  }

  nav.primary-navigation ul li a {
    display: block;
    padding: 10px 0;
  }

  .portraet {
    height: auto;
    width: 40%;
    border: 0.5rem solid white;
  }

  .grid_1_2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
    margin-top: 0;
  }

  .om_col_1 {
    display: flex;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
  }

  .om_col_2 {
    grid-column: 1;
    grid-row: 3;
  }

  .om_col_3 {
    grid-column: 1;
    grid-row: 5;
  }

  .om_col_4 {
    grid-column: 1;
    grid-row: 2;
  }

  .om_col_5 {
    grid-column: 1;
    grid-row: 4;
  }

  .om_col_3 p {
    font-size: 4cqi;
    line-height: 1.5rem;
  }

  .om_col_5 p {
    font-size: 4cqi;
    line-height: 1.5rem;
  }

  .CV_p {
    font-size: 4cqi;
    line-height: 1.75rem;
  }

  .black_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer_li_title {
    display: none;
  }

  .footer_ul li {
    line-height: 2rem;
  }

  .om_mig {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1rem;
  }

  .socials {
    margin-bottom: 0;
    padding-right: 0;
    text-align: center;
  }
}
